* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #E02C6D;
  --white: #ffffff;
  --title-color: #3A3A3A;
  --text-color: #666666;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: var(--text-color);
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  color: var(--title-color);
}
a {
  text-decoration: none;
  color: var(--primary-color);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
img {
  width: 100%;
  height: auto;
}
.container {
  width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.main-button {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 15px 40px;
  border-radius: 999px;
  border: 1px solid var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}
.main-button:hover {
  background-color: transparent;
  color: var(--primary-color);
}

.main-button i {
  margin-left: 10px;
}

header {
  background-color: #fff;
  margin-top: 20px;
  padding: 20px 0;
}
header nav {
  display: flex;
  align-items: center;
}
.nav-brand a {
  color: var(--title-color);
  font-size: 24px;
  font-weight: 600;
}
.navs-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}
.navs-wrapper a {
  color: var(--title-color);
  font-weight: 600;
  margin-left: 30px;
}
.navs-wrapper a i {
  font-size: 20px;
}
.navs-wrapper a.cart-icon {
  margin-left: 30px;
}
.navs-wrapper a:hover {
  color: var(--primary-color);
}

.banner-section {
  padding: 100px 0;
}
.banner-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-wrapper .text-part {
  width: 50%;
}
.banner-wrapper .img-part {
  width: 50%;
  display: flex;
  justify-content: center;
}

.banner-wrapper .img-part .img-layout {
  position: relative;
}
.banner-wrapper .img-part .main-img {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 80%;
}
.banner-wrapper .text-part h2 {
  font-size: 52px;
  line-height: 65px;
  margin-bottom: 20px;
}
.banner-wrapper .text-part p {
  margin-bottom: 30px;
}